[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==5.3.*"
pyyaml = "==5.3.*"
uritemplate = "==3.0.*"
drf-yasg2 = "==1.19.*"

[packages]
django = "==3.1.*"
djangorestframework = "==3.12.*"
django-filter = "==2.4.*"
djangorestframework-simplejwt = "==4.4.*"

[requires]
python_version = "3.6"
